<h3>Create an account</h3>
<form (ngSubmit)="onSubmit()" [formGroup]="authForm" class="ui form">
  <!-- <div class="field">
    <label>Username</label>
    <input formControlName="username" type="text" />
  </div> -->

  <app-input
    inputType="text"
    label="Username"
    [control]="$any(authForm.get('username'))"
  ></app-input>
  <!-- {{ authForm.get("username")?.errors | json }} -->

  <app-input
    inputType="password"
    label="Password"
    [control]="$any(authForm.get('password'))"
  ></app-input>
  <!-- {{ authForm.get("password")?.errors | json }} -->

  <app-input
    inputType="password"
    label="Confirm password"
    [control]="$any(authForm.get('passwordConfirmation'))"
  ></app-input>
  <!-- {{ authForm.get("passwordConfirmation")?.errors | json }} -->

  <div
    *ngIf="
      authForm.get('password')?.touched &&
      authForm.get('passwordConfirmation')?.touched &&
      authForm.errors
    "
    class="ui red basic label"
  >
    <p *ngIf="authForm.errors?.['passwordsDontMatch']">
      Password and password confirmation must match
    </p>
    <p *ngIf="authForm.errors?.['noConnection']">
      No internet connection, failed to sign up
    </p>
    <p *ngIf="authForm.errors?.['unknownError']">Sorry, something went wrong</p>
  </div>

  <button type="submit" class="ui submit button primary">Submit</button>

  <!-- {{ authForm.errors | json }} -->
</form>
