<div class="container">
  <h3>Payment form</h3>
  <div class="row">
    <div class="form-group col">
      <label>Payee name: </label>
      <input class="form-control" (input)="onNameChange($event)" type="text" />
    </div>
    <div class="col">
      <label>
        <b>Name</b>
      </label>
      <div>{{ name | titlecase }}</div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label>Payment date: </label>
      <input class="form-control" (input)="onDateChange($event)" type="date" />
    </div>
    <div class="col">
      <label>
        <b>Payment date</b>
      </label>
      <div>{{ date | date: "MMMM d, y" }}</div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label>Payment amount: </label>
      <input class="form-control" (input)="onAmountChange($event)" />
    </div>
    <div class="col">
      <label>
        <b>Payment amount</b>
      </label>
      <div>{{ amount | currency: "JPY" }}</div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label>Height: </label>
      <input class="form-control" (input)="onHeightChange($event)" />
    </div>
    <div class="col">
      <label>
        <b>Height</b>
      </label>
      <div>{{ height | number: "1.1-2" }}</div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label>Miles: </label>
      <input class="form-control" (input)="onMilesChange($event)" />
    </div>
    <div class="col">
      <label>
        <b>Kilometers</b>
      </label>
      <div *ngIf="(miles | milesToKmConvert: 'km') > 10">
        {{ miles | milesToKmConvert: "km" }}
      </div>
    </div>
  </div>
</div>

{{ car | json }}
